@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Passion+One:wght@400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Passion+One:wght@400;700;900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: #0a172e;
}

.login_page_title h1 {
  color: #fff;
  text-align: center;
  font-family: "Passion One", sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 1px;
  font-size: 140px;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.input_field {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.password-input {
  position: relative;
  width: 100%;
}

input[type="text"],
input[type="password"] {
  width: 325px;
  height: 36px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #434242;
  margin-bottom: 20px;
  color: #fff;
  padding: 5px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.login_page_btn button {
  width: 132px;
  height: 36px;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
  margin-top: 20px;
  border: 1px solid #404656;
}

.login_page_btn button:first-child {
  margin-right: 10px;
}

.login_page_title p {
  color: #fff;
  text-align: center;
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 9px;
  letter-spacing: 10px;
  margin-top: 50px;
}
.password-toggle {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
i.password-toggle.ri-eye-line {
  color: #fff;
  top: 20px;
}
i.ri-eye-off-line.password-toggle {
  color: #fff;
  top: 20px;
}
.login_page_btn {
  display: flex;
  gap: 50px;
}
.light_text {
  color: #fff;
  opacity: 0.5;
}

button.lg_btn {
  background-color: #2a3343;
}

.agree p {
  color: #ffffff61;
  font-size: 7px;
  font-family: "Roboto Mono", monospace;
}
.agree a {
  text-decoration: none;
  color: #004cff;
}
.agree {
  display: flex;
  align-items: center;
  gap: 6px;
}
.TermsandConditions h1 {
  color: #fff;
  text-align: center;
  font-family: "Passion One", sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 1px;
  font-size: 60px;
  padding-top: 14px;
}
.TermsandConditions_content p {
  color: #fff;
  text-align: center;
  padding-top: 30px;
}
.TermsandConditions_content {
  width: 70%;
  height: 500px;
  box-shadow: 0px 0px 1px 1px #6d6d6d;
  margin-left: auto;
  margin-right: auto;
  overflow-y: scroll;
}
p.TermsandConditions_content_dis {
  font-size: 20px;
  padding: 11px;
}
.hr {
  width: 220px;
  margin-right: auto;
  margin-left: auto;
}
#top-right-corner {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 9999;
}

#language-select {
  padding: 5px;
  font-size: 16px;
}
.agree_btn button {
  width: 100px;
  height: 40px;
  background-color: transparent;
  color: white;
  border: 1px solid #404656;
}
.agree_btn {
  display: flex;
  justify-content: center;
  padding-top: 13px;
}

a {
  text-decoration: none;
  color: #fff;
}
