@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Freeman&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Passion+One:wght@400;700;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  background-color: #0a172e;
}

.nav_links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 56px;
  padding-top: 15px;
}

.user {
  display: flex;
  padding-left: 25px;
  gap: 10px;
  align-items: center;
}

.header {
  transition: all 100ms;
}

[class^="ri-"],
[class*=" ri-"] {
  font-family: "remixicon" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 25px;
}

.user_det p {
  color: #fff;
}

.container {
  display: grid;
  grid-template-columns: 20% 1fr 20%; /* Changed 60% to 1fr for better responsiveness */
  grid-gap: 20px;
  overflow-x: hidden; /* Add this line to hide horizontal overflow */
  padding: 15px;
}

.cat_side_bar {
  grid-column: 1 / 2;
}

.main_content {
  grid-column: 2 / 3;
}

.ads_side_bar {
  grid-column: 3 / 4;
}

.cat_side_bar,
.main_content,
.ads_side_bar {
  height: 100%;
  background-color: transparent;
  border: 1px solid #404656;
}
.main_content {
  padding: 25px;
}
.cat_list li {
  list-style: none;
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  justify-content: space-between;
  font-size: 20px;
  color: #fff;
}

article.article {
  display: flex;
  color: #fff;
  padding: 10px;
  align-items: center;
  border: 1px solid #434242;
  margin-left: auto;
  margin-right: auto;
  gap: 15px;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 10px;
}

p.main_content_content_title {
  font-size: 15px;
  font-family: "Freeman", sans-serif;
  color: #e1dcdc;
}

.main_content_content {
  width: 50%;
}

p.main_content_content_dis {
  font-size: 15px;
  color: #a9a4a4;
  font-family: "Freeman", sans-serif;
}

.main_content_btn button {
  width: 150px;
  height: 30px;
  background-color: transparent;
  color: #fff;
  border: 1px solid #434242;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  margin-top: 5px;
}

.ads {
  width: 90%;
  height: 150px;
  background-color: transparent;
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ads_side_bar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

i.ri-search-line {
  position: absolute;
  color: #fff;
  left: 10px; /* Adjust this value to position the icon */
  top: 40%;
  transform: translateY(-50%);
  z-index: 1; /* Ensure the icon is above the input */
}

.product_src {
  position: relative; /* Position the input relatively */
}

.product_src input[type="text"],
input[type="password"] {
  width: 100%; /* Adjusted width to accommodate the icon */
  height: 50px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #434242;
  margin-bottom: 20px;
  color: #fff;
  padding-left: 44px;
  padding-top: 15px; /* Added padding-top to center the text vertically */
}

.cat_list {
  padding: 20px;
}
.sidebar_nav {
  position: fixed;
  top: 0;
  right: -100%;
  height: 100%;
  width: 420px;
  background-color: #0a172e;
  padding-top: 60px;
  transition: right 0.3s ease;
  border-left: 2px solid #404656;
  z-index: 1000;
}
.active {
  right: 0px;
}

.sidebar_nav li {
  padding: 15px;
}

.toggle-btn {
  position: fixed;
  top: 20px;
  right: 20px;
  font-size: 24px;
  cursor: pointer;
  z-index: 9999;
  color: #333;
}

.close {
  display: flex;
  justify-content: center;
  color: #fff;
  cursor: pointer;
}
.icon {
  color: #fff;
}
.sidebar_nav li a {
  color: #b4b7bd;
  text-decoration: none;
  padding-left: 20px;
  font-size: 20px;
}

.faq {
  text-align: center;
  margin-top: 190px;
}

.faq a {
  text-decoration: none;
  color: #fff;
}

.go {
  display: flex;
  justify-content: center;
  align-items: center;
}
.go button {
  width: 130px;
  height: 30px;
  background-color: transparent;
  color: #fff;
  border: 1px solid #404656;
  cursor: pointer;
}
.filter {
  color: #fff;
  margin-left: 8px;
}

.thumbnail img {
  width: 80px;
  border-radius: 10px;
}
i.ri-more-2-fill {
  font-size: 45px;
  cursor: pointer;
}
.main_content_price p {
  font-size: 23px;
}

.content_img img {
  width: 70px;
}

.user_profile_drop_down {
  flex-direction: column;
  display: flex;
  gap: 10px;
}

.info h1,
p {
  color: #fff;
}
.info p {
  color: #b4b7bd;
}

.info h1 {
  color: #fff;
  font-size: 18px;
}
.content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid #404656;
  padding: 10px;
}

.img_and_info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.content_price_and_three_dot {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

i.ri-more-2-fill {
  color: #fff;
  cursor: pointer;
  font-size: 35px;
  font-weight: 200;
}

.order_info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 5px;
  padding-top: 10px;
}

.order_info p {
  color: #b4b7bd;
}

.content_price p {
  font-size: 20px;
  font-weight: 800;
}

.user_profile_drop_down button {
  width: 110px;
  height: 25px;
  background-color: transparent;
  color: #fff;
  border: 1px solid #404656ff;
}

/* Responsive adjustments */
@media screen and (max-width: 1000px) {
  .container {
    display: block;
  }

  .cat_side_bar,
  .main_content,
  .ads_side_bar {
    width: 100%;
    margin-bottom: 20px;
  }

  .nav_links ul li {
    padding-right: 20px;
  }
  .ads img {
    border-radius: 13px;
    object-fit: cover;
    width: 50%;
    border-radius: 20px;
  }

  .cat_side_bar ul li a {
    text-decoration: none;
    color: #fff;
    padding-left: 20px;
  }

  article.article {
    display: flex;
    flex-direction: column;
    color: #fff;
    padding: 10px;
    align-items: center;
    border: 1px solid #434242;
    margin-left: auto;
    margin-right: auto;
    gap: 15px;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px;
  }

  .main_content_content {
    width: 100%;
    text-align: center;
  }

  .main_content_btn button {
    width: 150px;
    height: 46px;
    background-color: transparent;
    color: #fff;
    border: 1px solid #434242;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
    margin: 10px;
  }
}
